.about {
    @include displayFlex($direction: column, $align-item: center);
    gap: 20px;

    @include media-min("small-down") {
        max-width: 544px;
    }
    @include media-min("medium-up") {
        max-width: 750px;
        @include displayFlex;
    }
}

.about__header {
    @include displayFlex($direction: column, $align-item: center);
    &-profil-image {
        &--rounded {
            border: 10px solid $primary-color;
            border-radius: 50%;
            margin: 0 20px;
            outline: solid 5px;
            outline-color: transparent;
            outline-offset: 0px;
            transition: outline-offset 300ms ease-in-out;
            &:hover {
                outline: solid 5px $primary-color;
                outline-offset: 5px;
            }
        }
    }
    &-title {
        @include displayFlex($direction: column, $align-item: center);
    }
    &-h2 {
        color: $primary-text-color;
    }
    &-h3 {
        text-transform: uppercase;
    }
    @include media-min("medium-up") {
        // max-width: 544px;
        @include displayFlex();
        &-title {
            @include displayFlex($direction: column);
        }
    }
}

.about__body{
    @include displayFlex($direction: column, $align-item: center);
    gap: 20px;
    &-content {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        height: 60px;
        overflow: hidden;
        transition: all 400ms ease-in-out;
        text-overflow: ellipsis;
    }
    @include media-min("medium-up") {
        @include displayFlex($direction: column);
    }
}

.about__body-content-show {
    transition: all 400ms ease-in-out;
    height: 310px;
    // overflow: visible;
    text-overflow: unset;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;

    @include media-min("medium-up") {
        height: 210px;
    }
}

.about__footer {
    @include media-min("medium-up") {
        align-self: flex-end;
        max-width: 180px;
    }
}