.btn {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 30px;

    &--green-rounded {
        @include buttonGreenRadius($color: $primary-text-color);
    }

    &--green-radius {
        @include buttonGreenRadius($radius: 5px, $color: $primary-text-color);
    }

    &--border-only {
        @include buttonGreenRadius($radius: 5px, $color: $primary-text-color)
    }
}