.card {
    @include displayFlex($direction: column, $align-item: center);
    gap: 20px;
    min-width: 240px;
    max-width: 544px;
    
    @include media-min("medium-up") {
        max-width: 300px;
    }
}

.card__header {
    @include displayFlex($content: space-between, $align-item: baseline);
    width: 100%;
    &-h3 {
        font-size: 1.2rem;
    }
    &-span {
        font-size: 0.8rem;
    }
}

.card__body {
    &-image {
        width: 100%;
    }
    &-content {
        margin: 20px 0 0 0;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        height: 60px;
        overflow: hidden;
        transition: all 400ms ease-in-out;
        text-overflow: ellipsis;
        &-show {
            transition: all 400ms ease-in-out;
            height: 225px;
            // overflow: visible;
            text-overflow: unset;
            -webkit-line-clamp: unset;
            -webkit-box-orient: unset;

            @include media-min("medium-up") {
                height: 210px;
            }
        }
    }
}

.card__footer {
    align-self: flex-start;
}