.contact {
    @include displayFlex($direction: column);
    width: 100%;
    max-width: 600px;
    gap: 20px;
    &-items {
        width: 100%;
        height: 40px;
        background: rgba(0, 0, 0, 0.3);
        border: solid 1px rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        color: rgba(255, 255, 255, 0.7);
        padding-left: 10px;
        transition: outline-color 400ms ease-in-out;
        &:focus {
            outline: 2px solid;
            outline-color: #69A00B;
            outline-offset: 2px;
        }
    }
    &-textarea {
        width: 100%;
        height: 150px;
        line-height: 1.2rem;
        padding-top: 10px;
        resize: none;
        overflow: hidden;
        overflow-wrap: break-word;
    }
}