@mixin displayFlex($flex: flex, $direction: row, $content: start, $align-item: start) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align-item;
}

@mixin multipleLineEllipsis ($height: 140px, $line-clamp: 7) {
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: $height;
    transition: all 400ms ease-in-out;
    &:hover {
        -webkit-line-clamp: 15;
        max-height: 300px;
    }
}

@mixin scale($width: 100%, $color: #63A714) {
    height: 100%;
    width: $width;
    border-radius: 25px;
    background-color: $color;
}

@mixin buttonGreenRadius($radius: 25px, $color: $white) {
    background: $primary-color;
    border-radius: $radius;
    border: none;
    box-shadow: $basic-shadow;
    transition: all 300ms ease-in-out;
    color: $color;
    &:hover {
        background: lighten($primary-color, $amount: 2.5);
        transform: scale(1.1);
    }
    &:active {
        background: darken($primary-color, $amount: 2.5);
        transform: scale(0.8);
    }
}

@mixin background-url($url-top: "", $url-bottom: ""){
    background: url($url-top), 
                url($url-bottom);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:  center top, center bottom;
}

@mixin media-min($key) {
    @media screen and (min-width: map-get($breakpoints, $key)) {
     & { @content; }   
    }
}

@mixin media-min-perso($value) {
    @media screen and (min-width: $value) {
        & { @content; }
    }
}

@mixin media-max($key) {
    @media screen and (max-width: map-get($breakpoints, $key - 1px)) {
        & { @content; }   
   }
}