%title-edging {
    content: '';
    display: block;
    height: 3px;
    border-radius: 2px;
    min-width: 17%;
    background: $white;
    transition: all 300ms ease-in-out;
    &:hover {
        min-width: 27%
    }
}