body {
  background: rgb(3,174,175);
  background: linear-gradient(180deg, rgba(3,174,175,1) 0%, rgba(0,50,57,1) 100%);
  // background: linear-gradient(180deg, rgb(71, 222, 203) 0%, rgb(0, 153, 159) 100%);
  background-repeat: no-repeat;
}
.main {
  $url-top: "../../../assets/images/background/bg_small/bg_top_small.png";
  $url-bottom: "../../../assets/images/background/bg_small/bg_bottom_small.png";

  @include background-url($url-top, $url-bottom);

  @include media-min("small-down") {
    $url-top: "../../../assets/images/background/bg_medium/bg_top_medium.png";
    $url-bottom: "../../../assets/images/background/bg_medium/bg_bottom_medium.png";

    @include background-url($url-top, $url-bottom);
  }

  @include media-min("medium-up") {
    $url-top: "../../../assets/images/background/bg_mediumx2/bg_top_mediumx2.png";
    $url-bottom: "../../../assets/images/background/bg_mediumx2/bg_bottom_mediumx2.png";

    @include background-url($url-top, $url-bottom);
  }
}
// p {
//   // margin: 0 20px;
// }
a {
  color: #fff;
  text-decoration: none;
}