h1, h2 {
  font-family: 'Fjalla One', sans-serif;
}
h3, h4, h5, p, span, a, input, textarea {
  font-family: 'Roboto Condensed', sans-serif;
}
h1, h2 {
  text-transform: uppercase;
  color: #fff;
}
h1 {
  font-size: 2.4rem;
  @include media-min("small-down") {
    font-size: 3.6rem;
  }
  @include media-min("medium-up") {
    font-size: 4.4rem;
  }
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
  font-weight: bold;
}
h5 {
  font-size: 1rem;
}
p, input, textarea{
  font-size: 1rem;
}