h1, h2 {
  font-family: 'Fjalla One', sans-serif;
}
h3, h4, h5, p, span, a {
  font-family: 'Roboto Condensed', sans-serif;
}
p{
  font-size: 1 rem;
}
h1, h2 {
  text-transform: uppercase;
}
body {
  color: #f0f0f0;
}