.section {
  min-width: 280px;
  @include displayFlex($direction: column, $align-item: center);
  margin: 40px 0;
  padding: 0 20px;
}

.section__hero {
  margin: 0 20px;
  // &-logo {
  //   // display: flex;
  //   // justify-content: center;
  // }
  &-h1 {
    color: #93357C;
    text-shadow: $basic-shadow;
    font-weight: bold;
  }
}

.section__projects{
  gap: 20px;

  &__header {
    @include displayFlex($content: center, $align-item: center);
    width: 100%;
    gap: 20px;

    &::before {
      @extend %title-edging;
    }
    &::after {
      @extend %title-edging;
    }
  }

}

.section__cv {
  gap: 20px;

  &__header {
    @include displayFlex($content: center, $align-item: center);
    width: 100%;
    gap: 20px;
    &::before {
      @extend %title-edging;
    }
    &::after {
      @extend %title-edging;
    }
  }
}