.section {
  min-width: 280px;
  @include displayFlex($direction: column, $align-item: center);
  margin: 40px 0;
  padding: 0 20px;
}

.section__hero {
  margin: 150px 20px;
  // margin-top: 70px;
  height: 30vh;
  // &-logo {
  //   // display: flex;
  //   // justify-content: center;
  // }
  &-h1 {
    color: $primary-color;
    text-shadow: $basic-shadow;
    font-weight: bold;
    @include displayFlex;
    &::before {
      content: "<";
      margin-right: 10px;
      font-size: 2.4rem;
      align-self: flex-start;
      font-family: 'Roboto Condensed', sans-serif;
      color: #000;
    }
    &::after {
      content: " />";
      margin-left: 10px;
      font-size: 2.4rem;
      align-self: flex-end;
      font-family: 'Roboto Condensed', sans-serif;
      color: #000;
    }
  }
}

.section__projects{
  gap: 20px;

  &__header {
    @include displayFlex($content: center, $align-item: center);
    width: 100%;
    gap: 20px;

    &::before {
      @extend %title-edging;
    }
    &::after {
      @extend %title-edging;
    }
  }

}

.section__cv {
  gap: 20px;

  &__header {
    @include displayFlex($content: center, $align-item: center);
    width: 100%;
    gap: 20px;
    &::before {
      @extend %title-edging;
    }
    &::after {
      @extend %title-edging;
    }
  }
}

.section__contact {
  gap: 20px;

  &__header {
    @include displayFlex($content: center, $align-item: center);
    width: 100%;
    gap: 20px;
    &::before {
      @extend %title-edging;
    }
    &::after {
      @extend %title-edging;
    }
  }
}