.section {
  min-width: 300px;
  @extend %flex-column-center;
  margin: 40px 40px;
}

.section__hero {
  margin: 0 20px;
  // &-logo {
  //   // display: flex;
  //   // justify-content: center;
  // }
  &-h1 {
    color: #93357C;
    text-shadow: $basic-shadow;
    font-weight: bold;
  }
}